.div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.select {
  margin-bottom: 1rem;
}

.ul {
  border: 1px solid lightgrey;
  overflow-x: hidden;
  overflow-y: auto;
}
