.div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.label {
  grid-area: search;
}

.input {
  width: 100%;
}

.label,
.button,
.select {
  margin-bottom: 1rem;
}

.ul {
  border: 1px solid lightgrey;
  overflow-x: hidden;
  overflow-y: auto;
}

.li {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  font-weight: bold;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
}
